jobs:

- job: Linux
  pool:
    vmImage: Ubuntu 16.04

  strategy:
    matrix:
      py27-pyqt510:
        containerImage: glueviz/py27-pyqt510:1.2
        python.version: '2.7'
      py35-pyqt57:
        containerImage: glueviz/py35-pyqt57:1.2
        python.version: '3.5'
      py35-pyqt58:
        containerImage: glueviz/py35-pyqt58:1.2
        python.version: '3.5'
      py35-pyqt59:
        containerImage: glueviz/py35-pyqt59:1.2
        python.version: '3.5'
      py35-pyqt510:
        containerImage: glueviz/py35-pyqt510:1.2
        python.version: '3.5'
      py36-pyqt511:
        containerImage: glueviz/py36-pyqt511:1.2
        python.version: '3.6'
      py36-pyqt512:
        containerImage: glueviz/py36-pyqt512:1.2
        python.version: '3.6'

  container: $[ variables['containerImage'] ]

  steps:

  - script: start-xvfb
    displayName: Setting up Xvfb

  - script: python$(python.version) -m pip install pip setuptools --upgrade
    displayName: Upgrading pip

  - script: python$(python.version) -m pip install git+https://github.com/glue-viz/glue --progress-bar off
    displayName: Installing developer version of glue

  - script: python$(python.version) -m pip install .[test] pytest-faulthandler==1.5.0 --progress-bar off
    displayName: Installing package and dependencies

  - script: python$(python.version) -m pip freeze
    displayName: List installed packages

  - script: python$(python.version) -m pytest glue_vispy_viewers
    displayName: Run tests
